<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- MDBootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.css" rel="stylesheet">
  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="CSS/style.css">
  <style>
    * {
      font-family: poppins;
    }

    .navbar {
      background-color: #333;
    }

    section {
      margin: 0 auto;
    }
    .alert .btn-close {
      background-color: transparent;
      border: none;
      font-size: 1rem;
      color: #333;
      opacity: 0.7;
      transition: opacity 0.3s ease;
    }

    .alert .btn-close:hover {
      opacity: 0.9;
    }

    @media (max-width: 1029px) {
      section {
        margin: 0 auto;
        transition: margin-top 0.3s ease;
      }

      .navbar.open+section {
        margin-top: 246px;
      }
    }
  </style>

</head>

<body style="background-color: #1a1e2cce;">
  {{>navbar}}
  <section style=" min-height: 100vh; display: flex; align-items: center; justify-content: center;">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-9 col-lg-8">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid h-100" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-7 d-flex align-items-center" style="flex-direction: column; padding-top:40px;">
                {{#if error}}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Failure!</strong> {{error}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {{/if}}
                <div class="card-body p-4 text-black">
                  <form action="/login" method="POST">

                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
                    <div class=" mb-3">
                      <input type="email" id="email" name="email" class="form-control form-control-lg"
                        style="background-color: #504b4b12;" placeholder="Email" required />
                    </div>
                    <div class=" mb-3">
                      <input type="password" id="password" name="password" class="form-control form-control-lg"
                        style="background-color: #504b4b12;" placeholder="Password" required/>

                    </div>
                    <div class="pt-1 mb-3">
                      <button class="btn btn-dark btn-lg btn-block" type="submit"
                        style="background-color: #028102;">Login</button>
                    </div>
                    <a class="small text-muted" href="#">Forgot password?</a>
                    <p class="mb-4" style="color: #393f81;">Don't have an account? <a href="/signUp"
                        style="color: #393f81;">Register here</a></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="JS/script.js"></script>
</body>

</html>